@model Carrol_Lawn_Care.Models.Tool

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Tool</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TblEquip.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TblEquip.name)
        </dd>

    </dl>

    <h5>Truck Assigned:</h5>

    @{foreach (var truck in (IEnumerable<Carrol_Lawn_Care.Models.Vehicle>)ViewBag.Truck)
        {
            <dl class="dl-horizontal">
                <dd>
                    @Html.ActionLink(@Html.DisplayName(truck.TblEquip.name).ToString(), "Details", "Vehicles", new { id = truck.vehId }, null)
                </dd>
            </dl>
        }
    }

    <h5>Maintenance Records:</h5>

    @{if (ViewBag.Records != null)
        {
            foreach (var rec in (IEnumerable<Carrol_Lawn_Care.Models.MaintenanceRecord>)ViewBag.Records)
            {
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayName(rec.maintType)
                </dt>
                <dd>
                    @Html.ActionLink(@Html.DisplayName(rec.date.ToLongDateString()).ToString(), "Details", "MaintenanceRecords", new { id = rec.maintId }, null)
                </dd>

            </dl>
                }
            }
        }
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.toolId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
