@model Carrol_Lawn_Care.Models.Customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <h5>Personal Information: </h5>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TblPer.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TblPer.name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TblPer.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TblPer.phone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TblPer.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TblPer.address)
        </dd>
    </dl>
    <br />
    <h5>Owned Properties:</h5>

    @{foreach (var prop in (IEnumerable<Carrol_Lawn_Care.Models.Prop>)ViewBag.properties)
        {
            <dl class="dl-horizontal">
                <dd>
                    @Html.ActionLink(@Html.DisplayName(prop.address).ToString(),"Details", "Props", new { id = prop.propId }, null)
                </dd>
            </dl>
        }
    }
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.custId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
