@model Carrol_Lawn_Care.Models.Prop

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Prop</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.services)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.services)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.recurrence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recurrence)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nextCut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nextCut)
        </dd>

    </dl>

    <h5>Property Owners:</h5>

    @{foreach (var person in (IEnumerable<Carrol_Lawn_Care.Models.Person>)ViewBag.Owners)
        {
            <dl class="dl-horizontal">
                <dd>
                    @Html.ActionLink(@Html.DisplayName(person.name).ToString(), "Details", "Customers", new { id = person.perId }, null)
                </dd>
            </dl>
        }
    }

    <h5>Truck Assigned:</h5>

    @{foreach (var truck in (IEnumerable<Carrol_Lawn_Care.Models.Vehicle>)ViewBag.Truck)
        {
            <dl class="dl-horizontal">
                <dd>
                    @Html.ActionLink(@Html.DisplayName(truck.TblEquip.name).ToString(), "Details", "Vehicles", new { id = truck.vehId}, null)
                </dd>
            </dl>
        }
    }

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.propId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
