@model Carrol_Lawn_Care.Models.MaintenanceRecord

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>MaintenanceRecord</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.maintType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.maintType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cost)
        </dt>

        <dd>
            $@Html.DisplayFor(model => model.cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TblEquip.name)
        </dt>


        <dd>

            @{
                if (ViewBag.equipType[1] == "vehicle")
                {

                    @Html.ActionLink(@Html.DisplayFor(model => model.TblEquip.name).ToString(), "Details", "Vehicles", new { id = Int32.Parse(ViewBag.equipType[0])}, null)
                }
                else
                {
                    @Html.ActionLink(@Html.DisplayFor(model => model.TblEquip.name).ToString(), "Details", "Tools", new { id = Int32.Parse(ViewBag.equipType[0]) }, null)
                }
            }
        </dd>

        

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.maintId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
