@model Carrol_Lawn_Care.Models.Employee

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.payRate)
        </dt>

        <dd>
            $@Html.DisplayFor(model => model.payRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ssn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ssn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TblPer.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TblPer.name)
        </dd>

    </dl>

    <h5>Assigned to Truck:</h5>

    @{foreach (var truck in (IEnumerable<Carrol_Lawn_Care.Models.Vehicle>)ViewBag.Truck)
        {
            <dl class="dl-horizontal">
                <dd>
                    @Html.ActionLink(@Html.DisplayName(truck.TblEquip.name).ToString(), "Details", "Vehicles", new { id = truck.vehId }, null)
                </dd>
            </dl>
        }
    }
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.empId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
