@model IEnumerable<Carrol_Lawn_Care.Models.Employees>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TblPer.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TblPer1.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.payRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ssn)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TblPer.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TblPer1.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.payRate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ssn)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.empId }) |
            @Html.ActionLink("Details", "Details", new { id=item.empId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.empId })
        </td>
    </tr>
}

</table>
